body {
    margin : 0px;
    padding : 0px;
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    width : 500px;
    height : 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container > div {
    background-color: #3b3b3b;
    margin : 10px;
    border-radius: 8px;
}
.display {
    flex-grow : 1;
    flex-basis : 100px;
    width : 470px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.display > span {
    font-size: 44px;
    margin-right : 10px;
}
.buttons {
    flex-grow : 7;
    flex-basis : 100px;
    width : 470px;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.buttons > .head {
    width: 440px;
    height: 40px;
    display : flex;
    flex-direction: row;
    background-color: #3b3b3b;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 4px;
    gap : 10px
}
.head > .element {
    flex : 1 0 0;
    height: 30px;
    background-color: #fff;
    border-radius: 8px;
    border-width: 0px;
    cursor : pointer;
    font-size: 16px;
    font-family: 'Liter';
    font-weight: 580;
}
.element:hover{
    box-shadow: 4px 4px 4px black;
}
.element:active{
    color : #fff;
    background-color: black;
}
.element.equal {
    flex : 2.2 0 0;
}